<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="ext/css/bootstrap.min.css">
    <script src="ext/js/jquery-3.5.1.min.js"></script>
    <script src="ext/js/bootstrap.min.js"></script>

    <script src="ext/js/vue.js"></script>

</head>
<body>
<div id="app">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form class="form-horizontal" action="/action_page.php">
                    <div class="form-group">
                    <label class="control-label col-sm-2" for="email">Email:</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="email" placeholder="Enter email" v-model:value="email">
                    </div>
                    <label class="control-label col-sm-2" for="email">{{ email }}</label>
                    </div>
                    <div class="form-group">
                    <label class="control-label col-sm-2" for="pwd">Password:</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="pwd" placeholder="Enter password">
                    </div>
                    </div>
                    <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox">
                        <label><input type="checkbox"> Remember me</label>
                        </div>
                    </div>
                    </div>
                    <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default">Submit</button>
                    </div>
                    </div>
                </form>
                
            </div>
        </div>
    </div>
</div>

    <script>
        var app = new Vue({
            el : '#app',
            data : {
                email : ''
            }
        })
    </script>

</body>
</html>